[submodule "algorithms_in_ipython_notebooks"]
	path = algorithms_in_ipython_notebooks
	url = ./algorithms_in_ipython_notebooks
[submodule "bwtl-python-tutorials"]
	path = bwtl-python-tutorials
	url = ./bwtl-python-tutorials
[submodule "data-descriptors-and-metaclasses"]
	path = data-descriptors-and-metaclasses
	url = ./data-descriptors-and-metaclasses
[submodule "ipython-circuitikz"]
	path = ipython-circuitikz
	url = ./ipython-circuitikz
[submodule "ipython-in-depth"]
	path = ipython-in-depth
	url = ./ipython-in-depth
[submodule "ipython-static-interactive-widgets"]
	path = ipython-static-interactive-widgets
	url = ./ipython-static-interactive-widgets
[submodule "ipython-xkcd-plots"]
	path = ipython-xkcd-plots
	url = ./ipython-xkcd-plots
[submodule "learning-python-4th-edition"]
	path = learning-python-4th-edition
	url = ./learning-python-4th-edition
[submodule "matplotlib"]
	path = matplotlib
	url = ./matplotlib
[submodule "python-public-data-hacking"]
	path = python-public-data-hacking
	url = ./python-public-data-hacking
[submodule "python-standard-library-by-example"]
	path = python-standard-library-by-example
	url = ./python-standard-library-by-example
[submodule "python-testing"]
	path = python-testing
	url = ./python-testing
[submodule "scientific-python-lectures-master"]
	path = scientific-python-lectures-master
	url = ./scientific-python-lectures-master
[submodule "version_information"]
	path = version_information
	url = ./version_information
