[submodule "algorithms_in_ipython_notebooks"]
	path = algorithms_in_ipython_notebooks
	url = ./algorithms_in_ipython_notebooks
[submodule "bwtl-python-tutorials"]
	path = bwtl-python-tutorials
	url = ./bwtl-python-tutorials
[submodule "data-descriptors-and-metaclasses"]
	path = data-descriptors-and-metaclasses
	url = ./data-descriptors-and-metaclasses
[submodule "ipython-circuitikz"]
	path = ipython-circuitikz
	url = ./ipython-circuitikz
[submodule "ipython-in-depth"]
	path = ipython-in-depth
	url = ./ipython-in-depth
